.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.layout-header {
  height: var(--navbar-height);
  background-color: var(--background-gold-color);
}

.layout-main {
  flex: 1;
  margin: 15px auto 20px auto;
  width: 100%;
  max-width: 1000px;
  padding: 10px 20px;
}

.layout-main--title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.layout-footer {
  height: 50px;
  background-color: var(--background-gold-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
