.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.layout-header {
  height: var(--navbar-height);
  background-color: var(--bg-solid-color);
}

.layout-main {
  max-width: var(--max-width);
  flex: 1;
  margin: 15px auto 20px auto;
  width: 100%;
  padding: 10px 20px;
}

.layout-main--title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.layout-footer {
  background-color: var(--bg-solid-color);
  color: var(--font-solid-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

@media all and (max-width: 768px) {
  .layout-main {
    padding-bottom: 100px;
  }
}
