.newad-form {
  padding: 1rem;
  max-width: 700px;
  margin: 2rem auto 0 auto;
  background-color: rgb(255, 255, 160);
}

.newad-form .button {
  margin-top: 0.5rem;
  text-align: center;
}

.newad-form .fields-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.fields-container .field-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.message-result {
  margin: 1rem auto;
  max-width: 400px;
}
